.text-center{
    text-align: center;
   
}

.background{
    background-color:rgb(215, 173, 111)
}

#navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}


#navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}


#navbar ul li a {
    padding: 00.75rem;
    color: #432115;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: greenyellow;
}



h3{
    font-size: 1.35em;
    margin-top: 1.25rem;
    line-height: 2em;
    color: #432115;
    text-align: center;
}


button {
    padding: 1.3em 3em;
    font-size: 17px;
    font-weight: 520;
    font-family: "DynaPuff",sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #432115;
    background-color: #D3EE6B;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

  }
  
  button:hover {
    background-color:#90CD58;
    box-shadow: 0px 15px 20px  rgba(0, 0, 0, 0.1);
    color: #432115;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

 
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  
  .slider {
    color:#432115;
    position: relative;
    width: 60rem;
    height: 20rem;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
   
  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color:#432115;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color:#90CD58;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #90CD58;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #90CD58;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-content {
    width: 400px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .slide-text {
    margin-bottom: 20px;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #432115;
    border-radius: 3px;
    text-decoration: none;
    background-color:#90CD58;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    display: flex;
   justify-content: center;
   }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #e3f98b73;
    
  }
  .card a{
    color: #377102;
    font-size: medium;
  }

  .card a:hover{
    color: #57b300;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    
    }
  }

  #footer{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background-color: #D7AD6F;
}
